.category-container{
    margin-left: 2.4vw;
}

.category-title{
    color: #e5e5e5;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 3vw;
    margin-bottom: 0.6vw;
}

.category-videos-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}