.category-video-main{
    display: flex;
    align-items: center;
}

.category-container{
    margin-left: 2.4vw;
}

.category-title{
    color: #e5e5e5;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 3vw;
    margin-bottom: 0.6vw;
}

.category-videos-container{
    display: flex;
    flex-direction: row;
    transition: transform 0.7s ease;

}

.video-carousel-left{
    left: 0;
}
.video-carousel-arrow{
    height: 9vw;
    background: #00000069;
    display: flex;
    align-items: center;
    border-top-left-radius: 3px;
    padding: 0 10px;
    border-bottom-left-radius: 3px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.video-carousel-right{
    right: 0;
}

.category-video-details-conatiner{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex: 1 1;
    height: 32vw;
    background: black;
    transform: translateX(-36px);
    width: 99vw;
    position: relative;
}

.category-video-details{
    height: 100%;
    width: 30%;
    padding: 26px 0 20px 34px;
    display: flex;
    flex-direction: column;
}

.category-video-player{
    height: 100%;
    width: 70%;
}

.category-video-details-title{
    font-size: 3em;
    width: 100%;
}

.category-video-details-content-rating{
    border: 1px solid gray;
    font-weight: 600;
    padding: 2px 3px;
    width: fit-content;
    margin-top: 0.3vw;
}

.category-video-details-desc{
    margin-top: 1vw;
    color: gray;
}

.category-video-details-buttons{
    margin-top: 2vw;
}


.category-video-play{
    background: white;
    border: none;
    min-height: 2.2vw;
    padding: 10px 25px;
    color: black;
    font-weight: 600;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
}

.category-video-play:hover{
    background: rgb(236, 236, 236);
}

.category-video-add-to-list{
    margin-left: 20px;
    background: rgba(133,133,133,0.6);
    border: none;
    min-height: 2.2vw;
    padding: 10px 25px;
    color: white;
    font-weight: 600;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
}

.category-video-add-to-list:hover{
    background: rgba(109, 109, 109, 0.6);
}

.category-video-player, .category-video-gradient{
    position: absolute;
    left: 30%;
    z-index: -2;
    right: 0;
    bottom: 0;
    top: 0;
}

.category-video-player video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-video-gradient{
    z-index: -1;
    background: image-url("gradient.png");
    display: block;
}

.cross{
    position: absolute;
    top: 28px;
    right: 37px;
}