.category-video-main{
    display: flex;
    align-items: center;
}

.category-container{
    margin-left: 2.4vw;
}

.category-title{
    color: #e5e5e5;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 3vw;
    margin-bottom: 0.6vw;
}

.category-videos-container{
    display: flex;
    position: relative;
    flex-direction: row;
    transition: transform 0.7s ease;
}

.video-carousel-left{
    left: 0;
    z-index: 1;
} 
.video-carousel-arrow{
    height: 9vw;
    background: #00000069;
    display: flex;
    align-items: center;
    border-top-left-radius: 3px;
    padding: 0 10px;
    border-bottom-left-radius: 3px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.video-carousel-right{
    right: 0;
    z-index: 1;
}
