.footer-div{
    min-height: 50px;
    border-top: 5px solid #222;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github{
    margin-right: 10px;
    margin-left: 20px;
}