.footer-div{
    min-height: 50px;
    border-top: 5px solid #222;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    margin-left: 20px;
    transition: all .2s ease;
}

.social:hover{
    transform:  scale(1.2);
}