/* splash header */
.splash-nav{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.splash-nav-logo{
   width: 230px;
   height: 60px;
}

.splash-nav-link-container{
   margin-top: 15px;
}

.splash-nav-signin{
   margin-left: 20px;
}

.button-red{
   background-color: #DC1A28;
   text-decoration: none;
   padding: 10px 15px;
   border-radius: 3px;
   font-size: 0.9rem;
   color: white;
   border-style: none;
}