.profile-form-container{
    min-width: 500px;
}

.profile-form-title{
    font-size: 4vw;
}

.profile-form-para{
    color: #808080;
    margin-top: 5px;
    padding-bottom: 15px;
}

.profile-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.profile-form-color{
    height: 150px;
    width: 150px;
    position: relative;
}

.profile-form-input{
    height: 40px;
    margin-left: 15px;
    background-color: #666666;
    width: 300px;
    border: none;
    padding-left:16px;
    color: white;
    font-size: 1.1em;
    height: 35px;
}

.profile-form-input-error{
    color: #DC1A28;
    font-size: 0.9em;
    margin-left: 18px;
    margin-top: 10px;
}

.profile-form-input::placeholder {
    color: #CCCCCC;
  }

.profile-form-btns-container{
    margin-top: 30px;
    margin-bottom: 130px;
    display: flex;
    height: 50px;
    align-items: center;
    flex-direction: row;
}

.profile-form-btns{
    padding: .5em 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
}

  .profile-form-continue-btn{
    background-color: white;
    text-transform: uppercase;
    border: none;
    border: none;
  }

  .profile-form-continue-btn:hover{
      background-color: #DC1A28;
      color: white;
  }


  .profile-form-cancel-btn{
    border: 1px solid #808080;
    color: #808080;
    background-color: transparent;
    margin-left: 20px;
  }

  .profile-form-cancel-btn:hover{
    border: 1px solid white;
    color: white;
  }
