.tops-video-video-main{
    min-width: 100%;
    min-height: 90vh;
}
.top-video-video-container{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden; 
    z-index: -1;   
}

.top-video-video{
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.top-video-info-container{
    margin-top: 13vw;
    position: absolute;
    padding-left: 3vw;
    width: 96.99%;
    overflow: hidden;
}

.top-video-title{
    font-size: 4em;
    margin-bottom: 1vw;
    max-width: 40vw;
}

.top-video-desc{
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 32vw;
    font-size: 1.4em;
    line-height: 1.2em;
    height: 2.3em;
}

.top-video-button-conatiner{
    margin-top: 2vw;
}

.icon-right-margin{
    margin-right: 10px;
}

.top-video-play{
    background: white;
    border: none;
    min-height: 2.2vw;
    padding: 10px 25px;
    color: black;
    font-weight: 600;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.top-video-play:hover{
    background: rgb(236, 236, 236);
}

.top-video-more-info{
    margin-left: 20px;
    background: rgba(133,133,133,0.6);
    border: none;
    min-height: 2.2vw;
    padding: 10px 25px;
    color: white;
    font-weight: 600;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
}

.top-video-more-info:hover{
    background: rgba(109, 109, 109, 0.6);
}

.top-video-button-conatiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.top-video-sound{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mute{
    background: image-url('mute.png');
}

.unmute{
    background: image-url('unmute.png');
}

.top-video-volume{
    background-size: cover;
    display: block;
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 10px;
    cursor: pointer;
}

.top-video-content-rating{
    background: rgba(133, 133, 133, 0.6);
    padding: 10px 27px 10px 13px;
    border-left: 2px solid white;
}

.active{
    color: white;
}

.top-video-details{
    padding-left: 39px;

}

.genre-container{
    position: absolute;
    left: 2.8vw;
    top: 5vw;
    min-width: 350px;
    display: flex;
    align-items: center;
}

.genre-title{   
    font-weight: 700;
    font-size: 2em;
}

.genre-menu{
    border: 1px solid white;
    background: #000000ce;
    padding: 4px 10px 4px 10px;
    margin-left: 3vw;
    font-weight: 600;
    font-size: 0.9em;
    position: relative;
    color: white;
}

.genre-item{
    padding-top: 12px;
}

