.video-container{
    display: flex;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    transition: transform 500ms;
    position: relative;
}

.video-thumbnail{
    height: 8.5vw;
    width: 15.1vw;
    object-fit: cover;
}


.category-videos-container:hover .video-container {
    transform: translateX(-35%);
}

.video-container:hover ~ .video-container {
    transform: translateX(35%);
}

.category-videos-container .video-container:hover {
    transform: scale(1.7);
    z-index: 1;
}

.video-play{
    cursor: pointer;
}

.video-detail{
    position: absolute;
    padding: 8px;
    display: flex;
    flex-direction: column;
    top: 47px;
    right: 0;
    left: 0;
}
.video-detail-top{
    display: flex;
    flex: 1 1;
}

.video-detail-sub-1{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.video-detail-sub-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.video-title{
    font-size: 0.6em;
    overflow: hidden;
    font-weight: 600;
    margin-top: 5px;
    color: rgba(226, 226, 226, 0.719);
}

.video-rating{
    border: 1px solid rgba(226, 226, 226, 0.719);
    padding: 2px 5px;
    width: fit-content;
    border-radius: 1px;
    font-size: 0.5em;
    letter-spacing: 0.1em;
    margin-top: 5px;
    color: rgba(226, 226, 226, 0.719);
}

.video-expand-arrow{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.video-volume{

}

.video-add{
}

