.video-container{
    display: flex;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    transition: transform 500ms;
}

.video-thumbnail{
    height: 8.5vw;
    width: 15.1vw;
    object-fit: cover;
}

// .video-thumbnail:hover ~ .video-thumbnail{
//  transform: scale(1.3);
// }


  .category-videos-container:hover .video-container {
    transform: translateX(-25%);
  }
  
  .video-container:hover ~ .video-container {
    transform: translateX(25%);
  }
  
  .category-videos-container .video-container:hover {
    transform: scale(1.5);
    z-index: 1;
  }